---
import Button from '~/components/ui/Button.astro';
import heroBg from '~/assets/videos/hero.mp4';
import type { Link } from '~/types';
import { Icon } from 'astro-icon/components';

export interface Props {
  id?: string;
  name?: string;
  title?: string;
  tagline?: string;
  socialLinks?: Array<Link>
  description?: string;
  actions?: Array<{ variant: 'primary', target: '_blank', text: 'Hire me', href: '/' }>;
}

const { id, title, name, socialLinks = [], description = Astro.slots.render('description') } = Astro.props;
---

<section class="my-8 not-prose flex flex-col justify-end h-lvh" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <video autoplay muted loop id="hero-video" class="h-lvh w-full object-cover">
      <source src={heroBg} type="video/mp4" />
    </video>
    <!-- overlay -->
    <div
      class="absolute h-lvh inset-0 bg-gradient-to-b from-orange-200 via-orange-100 to-amber-100 dark:from-teal-300 dark:to-teal-950 mix-blend-multiply"
    >
    </div>
  </div>
  <!-- absolute side bar right solid background -->
  <div
    class="absolute flex flex-col justify-center items-center gap-y-4 inset-y-0 right-0 w-full md:w-2/3 lg:w-1/2 xl:w-1/3"
  >
    <div class="bg-page w-full p-8 ml-8 lg:m-0 rounded-tl-xl rounded-bl-xl text-xl bg-page">
      <h1
        class="text-transparent bg-clip-text font-semibold bg-gradient-to-b from-[#836F28] to-[#4B3511] dark:from-[#FFDBA3] dark:to-[#836F28]"
        set:html={description}
      />
    </div>
    <Button href="/#about" variant="primary">Find out More</Button>
  </div>
  <div class="relative container mb-20">
    <div class="text-white dark:text-primary left-0 bottom-10">
      <h2 class="text-2xl font-semibold" set:text={name} />
      <h3 class="uppercase" set:text={title} />
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4 justify-start">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>
</section>
