---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import Hero2 from '~/components/widgets/Hero2.astro';
import BlogListItem from '~/components/widgets/BlogListItem.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">Blog & <span class="underlined">Articles</span></Fragment>
    <Fragment slot="subtitle">My freestyle got a little rust coz all of my free time I be learning Rust and Go / Used to be a top 4 guy now I just celebrate my wins like Arsenal</Fragment>
    <Fragment slot="content">
      <a href="https://getalinafe.com">&gt;&gt; Liwu, Verdansk Freestyle</a>
    </Fragment>
  </Hero2>
  <div class="container mt-8">
    Search and filter Here
  </div>
  <section class="py-12 sm:py-16 lg:py-20 container-lg relative">
    <div class="flex flex-col gap-y-4 lg:gap-y-8">
    {page.data.map((post) => <BlogListItem post={post} extended />)}
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
