---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

type Props = {
  title: string;
  position: string;
  image: string;
  location: string;
  duration: string;
  bgcolor: string;
};

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/logos/png/*.{jpeg,jpg,png,gif}');
const { title, position, image, location, duration, bgcolor } = Astro.props;
const imagePath = `/src/assets/images/logos/png/${image}-light.png`;
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<div class="flex text-muted gap-x-2">
  <div>
    <Image src={images[imagePath]()} alt={title} class="w-12 h-12 rounded-full" />
  </div>
  <div class="flex w-full gap-x-2 justify-between">
    <div class="flex flex-col">
      <h4 class="font-semibold text-default text-lg m-0">{title}</h4>
      <p class="text-sm">{position}</p>
    </div>
    <div class="flex flex-col gap-y-2">
      <p class="text-sm">{location}</p>
      <time class="text-sm font-semibold">{duration}</time>
    </div>
  </div>
</div>
