---
import type { GetStaticPaths } from "astro";
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Tabs from '~/components/ui/Tabs.astro';
import ProjectCard from '~/components/widgets/ProjectCards.astro';
import Headline from '~/components/ui/Headline.astro';
import ThemedImage from '~/components/ui/ThemedImage.astro';
import Skill from '~/components/widgets/Skill.astro';
import { techStack } from '~/data/stack';
import { shuffle } from "~/utils";

export const prerender = true;

const metadata = {
  title: 'My Projects',
};

export const getStaticPaths = (() => {
  return [];
}) satisfies GetStaticPaths;


const tabs = [
  {
    action: '/blog/search?s=',
    label: 'All',
  },
  {
    action: '/blog/search?c=tech',
    label: 'Mobile',
  },
  {
    action: '/blog/search?c=videos',
    label: 'Websites',
  },
  {
    action: '/blog/search?c=general',
    label: 'Web Apps',
  },
];
---

<Layout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">My <span class="underlined">Portfolio</span></Fragment>

    <Fragment slot="subtitle">
      Too many people spending time on these apps / Guess I'm so weird I be spending time making Apps / Don't @ me snap
      me, I'm crafty with these rap sheets /
    </Fragment>
    <Fragment slot="content">
      <a href="">&gt;&gt; Liwu, UMP Cypha 2018</a>
    </Fragment>
  </Hero2>

  <div class="container mt-8 items-start flex flex-col gap-y-8 gap-x-4 md:gap-y-0 justify-start relative z-10">
    <div class="w-full lg:w-2/3" id="blog-tabs" hx-swap-oob="true">
      <!-- <Categories client:only /> -->
      <Tabs swapTarget="#server-posts" tabs={tabs} activeTab="all" />
    </div>
  </div>
  <section class="py-12 sm:py-16 lg:py-20 container-lg relative" id="server-projects">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 lg:gap-y-8">
      <ProjectCard />
      <ProjectCard />
      <!-- {page.data.map((post) => <ListItem post={post} extended />)} -->
    </div>

    <div class="my-8 lg:my-12">
      <Headline
        tagline="My Tech Stack"
        subtitle="I've had fun over the years working with some cool technologies.  Here are some that have really suck with me"
      />
      <div class="hidden w-full md:grid grid-cols-4 md:grid-cols-5 gap-y-20">
        {
            shuffle(techStack.filter(stack => stack.logo !== undefined).map((stack) => (
                <ThemedImage alt={stack.title} src={stack.logo!} small={true} />
            )).slice(0, 10))
        }
      </div>
      <div class="w-full grid md:hidden grid-cols-4 md:grid-cols-5 gap-y-20">
        {
            shuffle(techStack.filter(stack => stack.logo !== undefined).map((stack) => (
                <ThemedImage alt={stack.title} src={stack.logo!} small={true} />
            )).slice(0, 12))
        }
    </div>

    <div class="my-20 lg:my-28 w-full lg:w-3/4 lg:mx-auto">
        <select name="stack" hx-post="/projects/stack" hx-target="#stack" hx-trigger="change" class="mx-auto form-select py-2 px-12 block text-md border border-slate-900 dark:border-slate-300 rounded-lg bg-card">
            <option value="Language">Programming Languages</option>
            <option value="Framework">Frameworks</option>
            <option value="Infrastructure">Infrasructure</option>
            <option value="Other">Other Interests</option>
        </select>
        <div id="stack">
           {
            techStack.filter(stack => stack.category.toLocaleLowerCase() === "language").sort((a,b) => b.experience - a.experience).map((stack) => (
                <Skill title={stack.title} level={stack.experience / 8 * 100} />
            ))
           }
        </div>
    </div>
  </section>
</Layout>
