---
import Image from '~/components/common/Image.astro';
import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';

import type { Post } from '~/types';
import Bio from '../widgets/Bio.astro';
import SignupForm from '../widgets/SignupForm.astro';
import Related from './Related.astro';

export interface Props {
  post: Post;
  url: string | URL;
}

const { post, url } = Astro.props;
const { Content } = post;
---

<section class="py-8 lg:py-12 mx-auto">
  <article>
    <header class={post.image ? '' : ''}>
      {
        post.image ? (
          <Image
            src={post.image}
            class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post?.excerpt || ''}
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl w-2/3 md:w-1/2 mt-8 flex justify-between flex-col items-center sm:flex-row z-20 sticky top-0 lg:top-10 bg-card/80 py-4 lg:py-2 backdrop-blur-xl"
    >
      <PostTags tags={post.tags} class="hidden lg:block mr-5 rtl:mr-0 rtl:ml-5" />
      <SocialShare
        url={url}
        text={post.title}
        class="mt-5 sm:mt-1 align-middle flex justify-center items-center text-default"
      />
    </div>
    <div
      class="container-article prose prose-lg lg:prose-xl prose-pre:shadow-xl code-block prose-pre:pt-12 dark:prose-invert prose-headings:text-primary prose-img:w-full prose-img:border-4 prose-img:border-card prose-img:hover:border-primary prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-secondary prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-blockquote:bg-card prose-blockquote:p-4 prose-blockquote:border-secondary prose-h3:text-default prose-h4:text-muted"
    >
      {Content ? <Content /> : <Fragment set:html={post.content || ''} />}
    </div>
    <div class="container-article">
      <PostTags tags={post.tags} class="lg:hidden mr-5 my-4 rtl:mr-0 rtl:ml-5" />
    </div>
    <Bio />
    <div class="container-lg">
      <SignupForm />

      <Related tags={post.tags} postId={post.id} />
    </div>
  </article>
</section>
