---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogTagRobots, getStaticPathsBlogTag } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import Pagination from '~/components/blog/Pagination.astro';
import {ListItem} from '~/components/blog/ListItem.tsx';
import Hero2 from '~/components/widgets/Hero2.astro';
import ToBlogLink from '~/components/blog/ToBlogLink.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <Hero2>
    <Fragment slot="title">
      <div class="z-30 relative">
        <ToBlogLink />
      </div>
      Tag: <span class="underlined">{tag}</span>
    </Fragment>
  </Hero2>
  <section class="container-lg my-32 flex flex-col justify-between relative z-10">
    {page.data.map((post) => <ListItem post={post} />)}
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
