---
import type { Form } from '~/types';
import Button from '~/components/ui/Button.astro';
import clsx from 'clsx';
import SignUptWithRecaptcha from '../widgets/SignUpWithRecaptcha';

const {
  inputs,
  textarea,
  button = 'Contact us',
  description = '',
  inline = true,
  title = 'Contact',
  icon = Astro.slots.render('icon'),
} = Astro.props as Form;
---

<div class="md:w-2/3 md:mx-auto lg:w-full flex flex-col rounded-lg dark:bg-[#1e1e1e] bg-[#e0e0e0] p-4 gap-y-2">
  {
    title && (
      <div>
        <p class="font-semibold flex items-center gap-x-2">
          <span set:html={icon} /> {title}
        </p>
      </div>
    )
  }
  {
    description && (
      <div>
        <p class="text-muted">{description}</p>
      </div>
    )
  }
  <SignUptWithRecaptcha inputs={inputs} buttonLabel={button} client:visible />
  {
    textarea && (
      <div>
        <label for="textarea" class="block text-sm font-medium">
          {textarea.label}
        </label>
        <textarea
          id="textarea"
          name="textarea"
          rows={textarea.rows ? textarea.rows : 4}
          placeholder={textarea.placeholder}
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
      </div>
    )
  }
</div>
