---
import { clsx } from 'clsx';
type Tab = {
  action: string;
  label: string;
};

type Props = {
  tabs: Tab[];
  activeTab: string;
  swapTarget: string;
};

const { tabs, activeTab, swapTarget } = Astro.props;
---

<div class="bg-card border border-gray-500/20 p-1">
  <div>
    <nav class="flex space-x-0 justify-around" aria-label="Tabs">
      {
        tabs.map((tab) => (
          <button
            style=`width: ${1/tabs.length * 100}%;`
            hx-get={tab.action}
            hx-target={swapTarget}
            hx-trigger="click"
            class={clsx(
              tab.label.toLowerCase() === activeTab.toLowerCase()
                ? 'bg-page border-b-2 border-primary text-primary'
                : 'border-b border-transparent hover:border-primary/50',
              'py-2 text-xs font-bold text-center uppercase tracking-widest text-muted hover:text-primary transition-colors relative z-10',
            )}
          >
            <form>
              <input type="hidden" name="activeTab" value={tab.label} />
              <input type="hidden" name="swapTarget" value={swapTarget} />
              <input type="hidden" name="tabs" value={JSON.stringify(tabs)} />
              <div hx-post="/blog/tabs" hx-trigger="click" hx-target="#blog-tabs" class="relative z-10">
                {tab.label}
              </div>
            </form>
          </button>
        ))
      }
    </nav>
  </div>
</div>
